.more {

	// .more__loading
	&__loading {
		width: 100%;

		user-select: none;

		overflow: hidden;

		cursor: pointer;

		pointer-events: none;

		&._show {
			pointer-events: all;
		}
	}

	// .more-loading
	&-loading {

		// .more-loading__content
		&__content {
			padding: rem(16) rem(0);
			width: 100%;

			display: flex;
			justify-content: center;
			align-items: center;

			background-color: #ededed;

			transform: translateY(100%);
			transition: all 0.6s ease 0s;

			.more__loading._show & {
				transform: translateY(0);
			}
		}

		// .more-loading__icon
		&__icon {
			width: rem(20);
			height: rem(20);
		}
	}
}