// .footer__aboutuse
.footer__aboutuse {}

// .footer-aboutuse
.footer-aboutuse {

	// .footer-aboutuse__info
	&__info {
		display: flex;
		flex-direction: column;
	}

	// .footer-aboutuse-info
	&-info {

		// .footer-aboutuse-info__title
		&__title {}

		// .footer-aboutuse-info__lists
		&__lists {
			display: flex;
			flex-direction: column;
		}

		// .footer-aboutuse-info__list
		&__list {
			margin: rem(2) rem(0);
			padding: rem(3) rem(0);
			color: $colorWhite;
			font-size: rem(16);
			@include adaptiveValue("font-size", 16, 12, 991.98);
			@include adaptiveValue("font-size", 20, 16, 0, 767.98);
			font-weight: 400;
			line-height: math.div(20, 16);

			@media (max-width: $tablet) and (min-width: $mobile) {
				font-size: rem(12);
			}
		}
	}

	// .footer-aboutuse__soc
	&__soc {
		display: inline-flex;
		flex-direction: column;

		@media (min-width: $mobile) {
			align-items: center;
		}
	}

	// .footer-aboutuse-soc
	&-soc {

		// .footer-aboutuse-soc__title
		&__title {
			margin: rem(7) rem(0);
			@include adaptiveValue("margin-top", 7, 5, 991.98);
			@include adaptiveValue("margin-bottom", 7, 5, 991.98);
			color: $colorWhite;
			font-size: rem(22);
			@include adaptiveValue("font-size", 22, 16, 767.98);
			@include adaptiveValue("font-size", 24, 18, 0, 767.98);
			font-weight: 700;

			@media (min-width: $mobile) {
				text-align: center;
			}

			@media (max-width: $tablet) and (min-width: $mobile) {
				margin: rem(5) rem(0);
			}
		}

		// .footer-aboutuse-soc__items
		&__items {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		// .footer-aboutuse-soc__item
		&__item {
			margin: rem(0) rem(2);
			padding: rem(0) rem(4);
			@include adaptiveValue("padding-left", 4, 1, 991.98);
			@include adaptiveValue("padding-right", 4, 1, 991.98);

			@media (max-width: $tablet) and (min-width: $mobile) {
				padding: rem(0) rem(1);
			}

			& * {
				fill: $colorWhite;
				width: rem(36);
				@include adaptiveValue("width", 36, 26, 991.98);
				@include adaptiveValue("width", 26, 22, 767.98, 991.98);
				@include adaptiveValue("width", 36, 24, 0, 767.98);
			}
		}
	}
}