// .header-top-search-filter-menu-item__innerbuttonsave
.header-top-search-filter-menu-item__innerbuttonsave {
	display: flex;
	justify-content: center;
}

// .header-top-search-filter-menu-item__buttonsave
.header-top-search-filter-menu-item__buttonsave{
	width: 100%;
	padding: rem(12) rem(16);
	color: $colorWhite;
	font-size: rem(16);
	font-weight: 700;
	background-color: #00b9ff;
	border-radius: rem(26);
	overflow: hidden;
	text-overflow: ellipsis;

	@media (max-width: $mobile) {
		padding: rem(14) rem(26);
		font-size: rem(20);
	}
}