// .moreinfo-tovar-body__specifications
.moreinfo-tovar-body__specifications {
	padding: rem(0) rem(20);
	@include adaptiveValue("padding-left", 20, 15);
	@include adaptiveValue("padding-right", 20, 15);
}

// .moreinfo-tovar-body-specifications
.moreinfo-tovar-body-specifications {

	// .moreinfo-tovar-body-specifications__title
	&__title {
		margin-top: rem(12);
		@include adaptiveValue("margin-top", 12, 8);
		padding: rem(8) rem(0);
		@include adaptiveValue("padding-top", 8, 10);
		@include adaptiveValue("padding-bottom", 8, 10);
		font-size: rem(26);
		@include adaptiveValue("font-size", 26, 20);
		font-weight: 700;
		text-align: center;
	}

	// .moreinfo-tovar-body-specifications__content
	&__content {
		list-style: none;
	}

	// .moreinfo-tovar-body-specifications__list
	&__list {
		margin-block-start: em(12, 16);
		margin-block-end: em(12, 16);

		font-size: rem(16);
		@include adaptiveValue("font-size", 18, 14, 0, 767.98);
		line-height: math.div(16, 20);
		font-weight: 700;

		& * {
			color: inherit;
			font-size: inherit;
			font-weight: inherit;
			line-height: inherit;
		}
	}

	// .moreinfo-tovar-body-specifications-list
	&-list {

		// .moreinfo-tovar-body-specifications-list__title
		&__title {
			color: #5c5c5c;
		}

		// .moreinfo-tovar-body-specifications-list__text
		&__text {
			color: $colorBlack;
		}
	}
}