/* ===================================  fw-4  --Start--  =================================== */
.fw-4 {
	font-weight: 400;
}
@media (min-width: pc) {
	.mmd-pc-fw-4 {
		font-weight: 400;
	}
}
@media (max-width: pc) {
	.md-pc-fw-4 {
		font-weight: 400;
	}
}
@media (min-width: tablet) {
	.mmd-table-fw-4 {
		font-weight: 400;
	}
}
@media (max-width: tablet) {
	.md-table-fw-4 {
		font-weight: 400;
	}
}
@media (min-width: mobile) {
	.mmd-mobile-fw-4 {
		font-weight: 400;
	}
}
@media (max-width: mobile) {
	.md-mobile-fw-4 {
		font-weight: 400;
	}
}
@media (min-width: mobileSmall) {
	.mmd-mobileSmall-fw-4 {
		font-weight: 400;
	}
}
@media (max-width: mobileSmall) {
	.md-mobileSmall-fw-4 {
		font-weight: 400;
	}
}
/* ===================================  fw-4  --End--  =================================== */



/* ===================================  fw-7  --Start--  =================================== */
.fw-7 {
	font-weight: 700;
}
@media (min-width: pc) {
	.mmd-pc-fw-7 {
		font-weight: 700;
	}
}
@media (max-width: pc) {
	.md-pc-fw-7 {
		font-weight: 700;
	}
}
@media (min-width: tablet) {
	.mmd-table-fw-7 {
		font-weight: 700;
	}
}
@media (max-width: tablet) {
	.md-table-fw-7 {
		font-weight: 700;
	}
}
@media (min-width: mobile) {
	.mmd-mobile-fw-7 {
		font-weight: 700;
	}
}
@media (max-width: mobile) {
	.md-mobile-fw-7 {
		font-weight: 700;
	}
}
@media (min-width: mobileSmall) {
	.mmd-mobileSmall-fw-7 {
		font-weight: 700;
	}
}
@media (max-width: mobileSmall) {
	.md-mobileSmall-fw-7 {
		font-weight: 700;
	}
}
/* ===================================  fw-7  --End--  =================================== */