// .moreinfo-tovar-info-image-sliderbig__pagination
.moreinfo-tovar-info-image-sliderbig__pagination {
}
// .moreinfo-tovar-info-image-sliderbig-pagination
.moreinfo-tovar-info-image-sliderbig-pagination {

	// .moreinfo-tovar-info-image-sliderbig-pagination__next
	&__next {
		position: absolute;
		top: rem(0);
		right: rem(0);
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		cursor: pointer;
		transform: rotate(180deg);
		transition: all 0.46s ease 0s;

		@media (max-width: $mobile) {
			display: none;
		}

		html._pc &:hover {
			background-color: rgba($color: #000000, $alpha: 0.3);
			box-shadow: rem(0) rem(0) rem(5) rgba($color: #000000, $alpha: 0.2),
				rem(0) rem(0) rem(8) rgba($color: #000000, $alpha: 0.2),
				rem(0) rem(0) rem(14) rgba($color: #000000, $alpha: 0.2),
				rem(0) rem(0) rem(20) rgba($color: #000000, $alpha: 0.2);
		}

		&.swiper-button-disabled {
			opacity: 0;
			visibility: hidden;
		}
	}

	// .moreinfo-tovar-info-image-sliderbig-pagination__next
	&-next {

		// .moreinfo-tovar-info-image-sliderbig-pagination-next__icon
		&__icon {
			margin: rem(4) rem(4);
			@include adaptiveValue("padding", 8, 6, 767.98);
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: rgba(114, 114, 114, 0.3);
			border-radius: rem(30);
			transition: all 0.46s ease 0s;

			html._pc &:hover {
				background-color: rgba(114, 114, 114, 0.5);
			}

			// .moreinfo-tovar-info-image-sliderbig-pagination-next__icon svg
			& svg {
				@include adaptiveValue("width", 22, 18, 767.98);
				@include adaptiveValue("height", 22, 18, 767.98);

				& * {
					fill: #ffffff;
				}
			}
		}
	}

	// .moreinfo-tovar-info-image-sliderbig-pagination__prev
	&__prev {
		position: absolute;
		top: rem(0);
		left: rem(0);
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		cursor: pointer;
		transform: rotate(0deg);
		transition: all 0.46s ease 0s;

		@media (max-width: $mobile) {
			display: none;
		}

		html._pc &:hover {
			background-color: rgba($color: #000000, $alpha: 0.3);
			box-shadow: rem(0) rem(0) rem(5) rgba($color: #000000, $alpha: 0.2),
				rem(0) rem(0) rem(8) rgba($color: #000000, $alpha: 0.2),
				rem(0) rem(0) rem(14) rgba($color: #000000, $alpha: 0.2),
				rem(0) rem(0) rem(20) rgba($color: #000000, $alpha: 0.2);
		}

		&.swiper-button-disabled {
			opacity: 0;
			visibility: hidden;
		}
	}

	// .moreinfo-tovar-info-image-sliderbig-pagination-prev
	&-prev {

		// .moreinfo-tovar-info-image-sliderbig-pagination-prev__icon
		&__icon {
			margin: rem(4) rem(4);
			@include adaptiveValue("padding", 8, 6, 767.98);
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: rgba(114, 114, 114, 0.3);
			border-radius: rem(30);
			transition: all 0.46s ease 0s;

			html._pc &:hover {
				background-color: rgba(114, 114, 114, 0.5);
			}

			// .moreinfo-tovar-info-image-sliderbig-pagination-prev__icon svg
			& svg {
				@include adaptiveValue("width", 22, 18, 767.98);
				@include adaptiveValue("height", 22, 18, 767.98);

				& * {
					fill: #ffffff;
				}
			}
		}
	}
}