/* ===================================  Header  --Start--  =================================== */
.header {
	position: fixed;
	top: rem(0);
	left: rem(0);

	background-color: #408de4;

	user-select: none;

	z-index: 90;

	transition: top 0.44s ease 0s;

	&._header-scroll {
		top: rem(-142);
	}

	&._header-show {
		top: rem(0);
	}
}

@import "includes/top/_top";
@import "includes/footer/_footer";
/* ===================================  Header  --End--  =================================== */
