// .moreinfo-tovar-info-image-sliderbig__slide
.moreinfo-tovar-info-image-sliderbig__slide {
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

// .moreinfo-tovar-info-image-sliderbig-slide
.moreinfo-tovar-info-image-sliderbig-slide {

	// .moreinfo-tovar-info-image-sliderbig-slide__image
	&__image {
		position: relative;

		width: 100%;
		height: 100%;

		display: flex;

		& .img-magnifier-glass {
			display: none;

			@media (min-width: $mobile) {
				display: block;

				position: absolute;

				width: rem(120);
				height: rem(120);

				border: solid rem(2) #00b9ff;

				cursor: none;

				opacity: 0;

				html._pc &._cursor {
					opacity: 1;
				}
			}
		}

		*:not(.swiper-lazy-preloader-white) {
			width: 100%;
			height: 100%;
		}

		.swiper-lazy-preloader-white {
			--swiper-preloader-color: #000000;
		}
	}

	// .moreinfo-tovar-info-image-sliderbig-slide__background
	&__background {
		position: absolute;
		top: rem(0);
		left: rem(0);
		width: 100%;
		height: 100%;
		transform: scale(1.2);
		filter: blur(rem(4));
		opacity: 0.8;
		z-index: -1;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		* {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}