/* =============================================  MRB-ADMIN  --Start--  ============================================= */

.mrb-admin {
	user-select: none;

	// .mrb-admin__content
	&__content {
		margin: rem(60) rem(4);
	}

	// .mrb-admin__title
	&__title {
		color: $primary;
		font-size: rem(28);
		font-weight: 700;
		text-align: center;
	}

	// .mrb-admin__form
	&__form {
		margin: rem(28) rem(0);
		max-width: rem(668);
	}

	// .mrb-admin-form
	&-form {

		// .mrb-admin-form__item
		&__item {
			margin: rem(20) rem(0);
			width: 100%;

			display: flex;
			flex-direction: column;
		}

		// .mrb-admin-form__labelinner
		&__labelinner {
			display: flex;
		}

		// .mrb-admin-form__label
		&__label {
			color: $primary;
			font-size: rem(20);
			font-weight: 700;

			cursor: pointer;

			margin-bottom: rem(12);

			user-select: none;

			&._error {
				color: $colorRed;
			}
			// .mrb-admin-form__label_dp
			&_dp {
				margin-left: rem(4);
				color: #00ff00;
			}

			// .mrb-admin-form__label_resetimages
			&_resetimages {
				margin-left: rem(4);
				padding: rem(6) rem(14);

				color: $colorWhite;
				font-size: 14px;

				background-color: #389d00;
				border-radius: rem(4);

				transition: all 0.46s ease-in-out;

				// html._pc .mrb-admin-form__label_resetimages:hover
				html._pc &:hover {
					background-color: #348507;
				}
			}
		}

		// .mrb-admin-form__input
		&__input {
			& textarea {
				padding: toRem(20) toRem(12);
				@include adaptiveValue("padding-top", 20, 12, 0, 767.98);
				@include adaptiveValue("padding-bottom", 20, 12, 0, 767.98);
				@include adaptiveValue("padding-left", 12, 10, 0, 767.98);
				@include adaptiveValue("padding-right", 12, 10, 0, 767.98);

				width: 100%;
				height: rem(100);

				color: $primary;
				font-size: toRem(20);
				@include adaptiveValue("font-size", 20, 12, 0, 767.98);
				line-height: 1;
				font-weight: 400;

				outline: none;

				border: none;
				outline: none;
				background: none;

				border-radius: toRem(12);
				@include adaptiveValue("border-radius", 12, 6, 0, 767.98);

				box-shadow: $inner-shadow;

				resize: none;

				&::placeholder {
					color: $greyDark;
				}

				// .mrb-admin-form__input textarea:focus
				&:focus {
					box-shadow: $shadow;
				}

				&::-webkit-scrollbar {
					width: rem(8);
				}

				&::-webkit-scrollbar-track {
					background-color: rgba($color: #999999, $alpha: 0.3);
				}

				&::-webkit-scrollbar-thumb {
					background-color: #999999;
					border-radius: rem(20);
				}

				.bkt-catygory._active & {
					left: 0;
					pointer-events: all;
				}
			}

			// .mrb-admin-form__input input
			& input {
				padding: toRem(20) toRem(12);
				@include adaptiveValue("padding-top", 20, 12, 0, 767.98);
				@include adaptiveValue("padding-bottom", 20, 12, 0, 767.98);
				@include adaptiveValue("padding-left", 12, 10, 0, 767.98);
				@include adaptiveValue("padding-right", 12, 10, 0, 767.98);

				width: 100%;

				color: $primary;
				font-size: toRem(20);
				@include adaptiveValue("font-size", 20, 12, 0, 767.98);
				line-height: 1;
				font-weight: 400;

				outline: none;

				border: none;
				outline: none;
				background: none;

				border-radius: toRem(12);
				@include adaptiveValue("border-radius", 12, 6, 0, 767.98);

				box-shadow: $inner-shadow;

				// .mrb-admin-form__input input:focus
				&:focus {
					box-shadow: $shadow;
				}
				&::placeholder {
					color: $greyDark;
				}
			}
		}

		// .mrb-admin-form-price
		&-price {
			&__warning {
				margin: rem(12) rem(0);
				color: $primary;
				font-size: rem(16);
				font-weight: 700;
				line-height: math.div(18, 16);

				& span {
					color: $colorRed;
				}
			}

			// .mrb-admin-form-price__old
			&__old {
				margin-top: rem(12);
			}

			// .mrb-admin-form-price-old
			&-old {

				// .mrb-admin-form-price-old__label
				&__label {
					color: $colorRed;
					font-size: rem(20);
					font-weight: 700;
					cursor: pointer;
				}

				// .mrb-admin-form-price-old__input
				&__input {

					// .mrb-admin-form-price-old__input input
					& input {
						padding: rem(16) rem(12);
						margin-top: rem(12);
						width: 100%;
						color: $colorWhite;
						font-size: rem(18);
						font-weight: 600;
						outline: none;

						border-radius: toRem(12);
						@include adaptiveValue("border-radius", 12, 6, 0, 767.98);

						background-color: $colorRed;
						box-shadow: rem(0) rem(0) rem(6) $colorRed;

						// .mrb-admin-form-price-old__input input:focus
						&:focus {
							box-shadow: rem(0) rem(0) rem(6) $colorRed,
								rem(0) rem(0) rem(10) $colorRed,
								rem(0) rem(0) rem(14) $colorRed;
						}

						// .mrb-admin-form-price-old__input input::placeholder
						&::placeholder {
							color: $colorWhite;
						}
					}
				}
			}

			// .mrb-admin-form-price__now
			&__now {
				margin-top: rem(12);
			}

			// .mrb-admin-form-price-now
			&-now {

				// .mrb-admin-form-price-now__label
				&__label {
					color: #00a1ff;
					font-size: rem(20);
					font-weight: 700;
					cursor: pointer;
				}

				// .mrb-admin-form-price-now__input
				&__input {

					// .mrb-admin-form-price-now__input input
					& input {
						padding: rem(16) rem(12);
						margin-top: rem(12);
						width: 100%;
						color: $colorWhite;
						font-size: rem(18);
						font-weight: 600;
						outline: none;

						border-radius: toRem(12);
						@include adaptiveValue("border-radius", 12, 6, 0, 767.98);

						background-color: #00a1ff;
						box-shadow: rem(0) rem(0) rem(6) #00a1ff;

						// .mrb-admin-form-price-now__input input:focus
						&:focus {
							box-shadow: rem(0) rem(0) rem(6) #00a1ff,
								rem(0) rem(0) rem(10) #00a1ff,
								rem(0) rem(0) rem(14) #00a1ff;
						}

						// .mrb-admin-form-price-now__input input::placeholder
						&::placeholder {
							color: $colorWhite;
						}
					}
				}
			}
		}

		// .mrb-admin-form__chekbox
		&__chekbox {
			display: flex;
			flex-direction: column;
			user-select: none;
		}

		// .mrb-admin-form-chekbox
		&-chekbox {

			// .mrb-admin-form-chekbox__title
			&__title {
				color: $primary;
				font-size: rem(20);
				font-weight: 600;
			}

			// .mrb-admin-form-chekbox__input
			&__input {
				position: relative;
				margin: rem(18) rem(0);
				display: flex;
				align-items: center;

				// .mrb-admin-form-chekbox__input input
				& input {
					display: none;

					// .mrb-admin-form-chekbox__input input:checked
					&:checked~label {
						background: linear-gradient(330deg, $primary-dark 0%, $primary 50%, $primary-light 100%);
					}

					// .mrb-admin-form-chekbox__input input:checked ~ label:after
					&:checked~label:after {
						margin-left: calc(100% - rem(24));
						background: $greyLight-1;
					}
				}

				// .mrb-admin-form-chekbox__input label
				& label {
					padding: rem(0) rem(4);
					width: rem(65);
					height: rem(32);

					display: flex;
					align-items: center;

					background: rgba(255, 255, 255, 0);
					box-shadow: $shadow;
					border-radius: rem(20);

					cursor: pointer;
					transition: all 0.3s ease 0s;

					// .mrb-admin-form-chekbox__input label:after
					&:after {
						content: '';
						width: rem(24);
						height: rem(24);
						background: $greyDark;
						border-radius: 50%;
						transition: all 0.3s ease 0s;
					}
				}
			}

			// .mrb-admin-form-chekbox__status
			&__status {
				margin-left: rem(12);

				position: relative;

				height: 100%;

				color: $primary;
				font-size: rem(18);
				font-weight: 600;

				text-align: center;

				overflow: hidden;
			}

			// .mrb-admin-form-chekbox-status
			&-status {

				// .mrb-admin-form-chekbox-status__not
				&__not {
					position: relative;
					color: $greyDark;
					transition: all 0.6s ease 0s;

					.mrb-admin-form-chekbox__input input:checked~.mrb-admin-form-chekbox-status & {
						transform: translateY(120%);
					}
				}

				// .mrb-admin-form-chekbox-status__yes
				&__yes {
					position: absolute;
					top: -120%;
					width: 100%;
					transition: all 0.6s ease 0s;

					.mrb-admin-form-chekbox__input input:checked~.mrb-admin-form-chekbox-status & {
						top: 0;
					}
				}
			}
		}

		// .mrb-admin-form-radio
		&-radio {

			// .mrb-admin-form-radio__title
			&__title {
				color: $primary;
				font-size: rem(20);
				font-weight: 600;
			}

			// .mrb-admin-form-radio__items
			&__items {
				padding-top: rem(14);
			}

			// .mrb-admin-form-radio__item
			&__item {
				position: relative;
				margin-bottom: rem(14);

				font-size: rem(20);
				color: $greyDark;
				font-weight: 700;

				display: flex;
				align-items: center;

				transition: all 0.3s ease 0s;
			}

			// .mrb-admin-form-radio-item
			&-item {
				// .mrb-admin-form-radio-item__innerinput
				&__innerinput {
					position: relative;

					display: flex;
					align-items: center;
				}

				// .mrb-admin-form-radio-item__input
				&__input {
					position: absolute;
					top: 0;
					left: 0;

					width: 100%;
					height: 100%;

					z-index: 1;
					opacity: 0;
					cursor: pointer;

					// .mrb-admin-form-radio-item__input:checked ~ .mrb-admin-form-radio-item__button:after
					&:checked~.mrb-admin-form-radio-item__button:after {
						background-color: $primary;
					}
					// .mrb-admin-form-radio-item__input:checked ~ .mrb-admin-form-radio-item__button:after
					&:checked~.mrb-admin-form-radio-item__label {
						color: $primary;
					}
				}

				// .mrb-admin-form-radio-item__button
				&__button {
					position: relative;

					width: rem(30);
					height: rem(30);

					display: flex;
					justify-content: center;
					align-items: center;

					box-shadow: $shadow;
					border-radius: 50%;

					box-shadow: rem(0) rem(0) rem(3) rgba(0, 0, 0, 0.3);

					// .mrb-admin-form-radio-item__button:after
					&:after {
						content: '';
						position: absolute;

						width: calc(100% - rem(10));
						height: calc(100% - rem(10));

						border-radius: 50%;
						background-color: $greyDark;

						transition: all 0.3s ease 0s;
					}
				}
				// .mrb-admin-form-radio-item__label
				&__label {
					margin-left: rem(6);

					color: $greyDark;

					cursor: pointer;
				}
			}
		}
		// .mrb-admin-form__specification
		&__specification {
			padding: rem(0) rem(12);
			display: flex;
			flex-direction: column;
			row-gap: rem(18);
		}
		// .mrb-admin-form-specification
		&-specification {
			// .mrb-admin-form-specification__item
			&__item {
				display: flex;
				flex-direction: column;
				&._loading {
					padding: rem(20) rem(0);
					background-image: url("/public/storage/project/loading.gif");
					background-color: rgba($color: #000000, $alpha: 0.1);
					background-size: rem(22);
					border-radius: rem(4);
					background-position: center;
					background-repeat: no-repeat;
				}
			}
			// .mrb-admin-form-specification__name
			&__name {
				color: $primary;
			}
			// .mrb-admin-form-specification__select
			&__select {
				padding: rem(0) rem(12);
			}
		}
		// .mrb-admin-form__media
		&__media {
			display: flex;
			flex-wrap: wrap;
		}

		// .mrb-admin-form-media
		&-media {

			// .mrb-admin-form-media__block
			&__block {
				position: relative;
				margin: rem(4) rem(4);

				width: rem(100.39);
				height: rem(100.39);

				overflow: hidden;

				&._hovered {
					background-color: $primary;
					box-shadow: rem(0) rem(0) rem(12) rem(8) $primary;
				}

				&._show {
					background-color: $primary;
					box-shadow: rem(0) rem(0) rem(12) rem(8) $primary;
				}

				&._errornull {
					box-shadow: rem(0) rem(0) rem(16) rem(8) #ff0000, rem(0) rem(0) rem(18) rem(10) #ff0000;
				}
			}

			// .mrb-admin-form-media__content
			&__content {
				position: relative;
				width: 100%;
				height: 100%;

				background-color: rgba(151, 151, 151, 0.3); //f0f2f7
				border-radius: rem(6);

				cursor: pointer;
				transition: all 0.46s ease 0s;

				&._hidden {
					display: none;
				}
			}

			// .mrb-admin-form-media-block
			&-block {

				// .mrb-admin-form-media-block__input
				&__input {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;

					font-size: 0;
					user-select: none;

					opacity: 0;
					cursor: pointer;
					-webkit-tap-highlight-color: $clickByTouchColor0;

					// .mrb-admin-form-media__content._active .mrb-admin-form-media-block__input
					// .mrb-admin-form-media__content._active & {
					// 	pointer-events: none;
					// }
				}

				// .mrb-admin-form-media-block__preview
				&__preview {
					position: relative;
					width: 100%;
					height: 100%;

					display: flex;

					border-radius: inherit;

					pointer-events: none;
					z-index: $zIndex0;

					& img,
					video {
						width: 100%;
						height: 100%;

						object-fit: cover;
						border-radius: inherit;
					}
				}

				// .mrb-admin-form-media-block__hello
				&__hello {
					position: absolute;
					top: 0;
					left: 0;

					width: 100%;
					height: 100%;

					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					text-align: center;

					pointer-events: none;

					// .mrb-admin-form-media__content._active .mrb-admin-form-media-block__hello
					.mrb-admin-form-media__content._active & {
						display: none;
					}
				}

				// .mrb-admin-form-media-block-hello
				&-hello {

					// .mrb-admin-form-media-block-hello__icon
					&__icon {

						// .mrb-admin-form-media-block-hello__icon svg
						& svg {
							width: rem(26);
							height: rem(26);
							@include adaptiveValue("width", 26, 22, 0, 767.98);
							@include adaptiveValue("height", 26, 22, 0, 767.98);

							& * {
								fill: #ffffff;
							}
						}
					}

					// .mrb-admin-form-media-block-hello__title
					&__title {
						color: #ffffff;
						font-size: rem(10);
						font-weight: 700;
						letter-spacing: rem(0.4);
					}
				}

				// .mrb-admin-form-media-block__bosstitle
				&__bosstitle {
					position: absolute;
					bottom: 0;
					width: 100%;
					padding: rem(2) rem(0);

					color: #00ff00;
					font-size: rem(12);
					font-weight: 700;
					letter-spacing: rem(0.4);
					text-align: center;

					background-color: rgba(0, 0, 0, 0.6);
					border-bottom-left-radius: rem(6);
					border-bottom-right-radius: rem(6);

					pointer-events: none;
					z-index: $zIndex1;
				}

				// .mrb-admin-form-media-block__buttonlvl
				&__buttonlvl {
					position: absolute;
					bottom: 0;
					width: 100%;
					padding: rem(2) rem(0);

					display: none;

					color: #00ff00;
					font-size: rem(12);
					font-weight: 700;
					letter-spacing: rem(0.4);
					text-align: center;

					background-color: rgba(0, 0, 0, 0.6);
					border-bottom-left-radius: rem(6);
					border-bottom-right-radius: rem(6);

					z-index: $zIndex2;

					// html._touch .mrb-admin-form-media__content._active .mrb-admin-form-media-block__buttonlvl
					html._touch .mrb-admin-form-media__content._active & {
						display: block;
					}

					html._touch .mrb-admin-form-media__block:first-child .mrb-admin-form-media__content._active & {
						display: none;
					}
				}

				// .mrb-admin-form-media-block__close
				&__close {
					position: absolute;
					top: rem(2);
					right: rem(2);

					padding: rem(4);

					display: flex;
					justify-content: center;
					align-items: center;

					background-color: #ff0000;
					border-radius: 50%;

					cursor: pointer;

					opacity: 0;
					visibility: hidden;
					z-index: $zIndex1;

					transition: all 0.46s ease 0s;

					html._pc &:hover {
						background-color: #c90000;
					}

					// .mrb-admin-form-media__content._active .mrb-admin-form-media-block__close
					.mrb-admin-form-media__content._active & {
						opacity: 1;
						visibility: visible;
					}

					// .mrb-admin-form-media-block__close svg
					& svg {
						pointer-events: none;
						width: rem(18);
						height: rem(18);
						@include adaptiveValue("width", 18, 14, 991.98);
						@include adaptiveValue("width", 14, 12, 767.98, 991.98);
						@include adaptiveValue("width", 14, 10, 0, 767.98);
						@include adaptiveValue("height", 18, 14, 991.98);
						@include adaptiveValue("height", 14, 12, 767.98, 991.98);
						@include adaptiveValue("height", 14, 10, 0, 767.98);
						transform: rotate(45deg);

						& * {
							fill: #fff;
						}
					}
				}
			}
		}
		// .mrb-admin-form__button
		&__button {
			margin-top: rem(22);
			padding: rem(20) rem(22);
			@include adaptiveValue("padding-top", 20, 16, 767.98);
			@include adaptiveValue("padding-top", 20, 16, 0, 767.98);
			@include adaptiveValue("padding-left", 22, 16, 767.98);
			@include adaptiveValue("padding-left", 22, 16, 0, 767.98);
			@include adaptiveValue("padding-bottom", 20, 16, 767.98);
			@include adaptiveValue("padding-bottom", 20, 16, 0, 767.98);
			@include adaptiveValue("padding-right", 22, 16, 767.98);
			@include adaptiveValue("padding-right", 22, 16, 0, 767.98);
			position: relative;
			width: 100%;
			color: $colorWhite;
			font-size: rem(14);
			@include adaptiveValue("font-size", 14, 12);
			font-weight: 700;
			letter-spacing: em(2, 16);
			text-transform: uppercase;
			background-color: #7a956b;
			border-radius: rem(32);
			background-position: center;
			background-repeat: no-repeat;
			overflow: hidden;
			transition: all 0.46s ease-in-out;

			html._pc &:hover {
				background-color: #4f6146;

				// .mrb-admin-form__button._loading
				&._loading {
					background-color: #4f6146;
				}

				// .mrb-admin-form__button._sending
				&._sending {
					background-color: #4f6146;
				}

				// .mrb-admin-form__button._error
				&._error {
					background-color: #FF0000;
				}
			}

			// .mrb-admin-form__button._loading
			&._loading {
				background-image: url("../img/loading.gif");
				background-size: rem(22);
				background-color: #4f6146;
			}

			// .mrb-admin-form__button._sending
			&._sending {
				background-color: #4f6146;
			}

			// .mrb-admin-form__button._error
			&._error {
				background-color: #FF0000;
			}
		}

		// .mrb-admin-form-button
		&-button {

			// .mrb-admin-form-button-button__title
			&__title {
				position: relative;
				top: rem(0);
				transition: top 0.46s ease-in-out;

				// .mrb-admin-form-button__button._loading ..mrb-admin-form-button-button__title
				.mb-admin-form-button__button._loading & {
					top: rem(120);
				}

				// .mrb-admin-form-button__button._sending ..mrb-admin-form-button-button__title
				.mb-admin-form-button__button._sending & {
					top: rem(120);
				}
			}

			// .mrb-admin-form-button-button__result
			&__result {
				position: absolute;
				top: rem(-120);
				left: rem(0);
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all 0.46s ease-in-out;

				// .mrb-admin-form-button__button._sending ..mrb-admin-form-button-button__result
				.mb-admin-form-button__button._sending & {
					top: rem(0);
				}
			}
		}
	}
}

/* =============================================  MRB-ADMIN  --End--  ============================================= */