@use "sass:math";

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/_mixins";

// Colors
@import "_var";

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/_zeroing";
@import "base/_popup";
@import "_body";
@import "additional/_scroll_up_button";
@import "additional/_windows-size";
/* ===================================  wrapper  --Start--  =================================== */
.wrapper {
	position: relative;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	&._done {
		display: none;
	}
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
/* ===================================  wrapper  --End--  =================================== */
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
// Отзывчивая
[class*="__container"] {
	max-width: toRem($maxWidthContainer);
	box-sizing: content-box;
	margin: 0 auto;
	padding-top: toRem(0);
	padding-bottom: toRem(0);
	padding-left: toRem(15);
	padding-right: toRem(15);
	@include adaptiveValue("padding-left", 15, 10, 0, 767.98);
	@include adaptiveValue("padding-right", 15, 10, 0, 767.98);
}
[class*="__mincontainer"] {
	max-width: toRem(440);
	width: 100%;
}

[class*="__averagecontainer"] {
	max-width: toRem(668);
	width: 100%;
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомагательных классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "_base";

// Подключение стилей общих элементов проекта
@import "_common";

// Подключение стилей отдельных блоков
@import "_sidebar";

@import "_page";
@import "_form";
// Подключение стилей отдельных страниц
@import "User/_app";
@import "Setting/_app";
@import "Category/_app";
@import "Tovar/_app";