// .product-block-info__catigory
.product-block-info__catigory {
	width: 100%;

	padding: rem(2) rem(0);

	color: #878787;
	font-size: rem(12);
	@include adaptiveValue("font-size", 12, 10, 991.98);
	@include adaptiveValue("font-size", 12, 10, 767.98, 991.98);
	@include adaptiveValue("font-size", 12, 9, 479.98, 767.98);
	@include adaptiveValue("font-size", 12, 9, 0, 479.98);
	font-weight: 400;

	display: block;

	white-space: nowrap;

	overflow: hidden;

	text-overflow: ellipsis;

	.product-block._show-loading & {
		margin-top: rem(12);
		display: flex;
		flex-shrink: 0;
		width: 100%;
		height: rem(32);
		background-color: #ededed;
		background: linear-gradient(100deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, 0) 60%) #ededed;
		background-size: 200% 100%;
		background-position-x: 180%;
		border-radius: rem(5);
		animation: 2.6s loading ease-in-out infinite;
		animation-delay: .14s;
	}
}