._title {
	color: #363636;
	font-size: rem(30);
	@include adaptiveValue("font-size", 30, 20);
	font-weight: 700;
}
.title-categories {
	display: flex;
	list-style: none;
	// .title-categories__list
	&__list {
	}
	// .title-categories__icon
	&__icon {
		padding: rem(0) rem(6);
	}
	// .title-categories__link
	&__link {
		color: inherit;
		font-size: inherit;
		line-height: inherit;
		font-weight: inherit;
	}
}
._error {
	color: $colorRed;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}
._message._error {
	color: $colorRed;
	font-weight: 700;
	line-height: math.div(32, 28);
}
.mx-body {
	padding: rem(12) rem(8);
	@include adaptiveValue("padding-top", 12, 8, 991.98);
	@include adaptiveValue("padding-top", 8, 6, 767.98, 991.98);
	@include adaptiveValue("padding-top", 8, 6, 479.98, 767.98);
	@include adaptiveValue("padding-bottom", 12, 8, 991.98);
	@include adaptiveValue("padding-bottom", 8, 6, 767.98, 991.98);
	@include adaptiveValue("padding-bottom", 8, 6, 479.98, 767.98);
	@include adaptiveValue("padding-left", 8, 4, 991.98);
	@include adaptiveValue("padding-left", 6, 1, 479.98, 767.98);
	@include adaptiveValue("padding-right", 8, 4, 991.98);
	@include adaptiveValue("padding-right", 6, 1, 479.98, 767.98);
	width: 100%;
	@media (max-width: $mobileSmall) {
		padding: rem(4) rem(0);
	}
}
/* ===================================  Подключение библеотек  --Start--  =================================== */
@import "libs/hover-bgc";
@import "libs/_scroll_up_button";
@import "libs/_windows-size";
/* ===================================  Подключение библеотек --End--  ===================================*/