@use "sass:math";

/* ===================================  Подключение библеотек  --Start--  =================================== */
// Подключение базовых стилей, шаблонов (заготовок) и вспомагательных классов
@import "_base";

@import 'swiper/css';

@import '@vueup/vue-quill/dist/vue-quill.bubble.css';

// Подключение стилей общих элементов проекта
@import "_common";
/* ===================================  Подключение библеотек  --End--  =================================== */

@import "_body";

/* ===================================  wrapper  --Start--  =================================== */
.wrapper {
	position: relative;
	min-height: 100%;
	overflow: hidden;

	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}

	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

/* ===================================  wrapper  --End--  =================================== */

// Ограничивающий контейнер ======================================================================================================================================================================================================================
/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
// Отзывчивая
[class*="__container"] {
	@if ($maxWidthContainer>0) {
		max-width: rem($maxWidthContainer);
		box-sizing: content-box;
		margin: 0 auto;
	}

	@if ($containerPadding>0) {
		padding-top: rem(0);
		padding-bottom: rem(0);
		@include adaptiveValue("padding-left", 30, 10, 767.98);
		@include adaptiveValue("padding-left", 15, 8, 0, 767.98);
		@include adaptiveValue("padding-right", 30, 10, 767.98);
		@include adaptiveValue("padding-right", 15, 8, 0, 767.98);
	}
}

// Подключение стилей отдельных блоков

@import "header/_header";
@import "_page";
@import "show/_show";
@import "footer/_footer";

@import "components/filter-panel/_filter-panel";
@import "components/sidebar/_sidebar";