//<FORM>
// .moreinfo-tovar-body-reviews__form
.moreinfo-tovar-body-reviews__form {
	padding: rem(0) rem(20);
	@include adaptiveValue("padding-left", 20, 4);
	@include adaptiveValue("padding-right", 20, 4);
}

// .moreinfo-tovar-body-reviews-form
.moreinfo-tovar-body-reviews-form {

	// .moreinfo-tovar-body-reviews-form__title
	&__title {
		margin-top: rem(12);
		@include adaptiveValue("margin-top", 12, 8);
		padding: rem(8) rem(0);
		@include adaptiveValue("padding-top", 8, 10);
		@include adaptiveValue("padding-bottom", 8, 10);
		font-size: rem(26);
		@include adaptiveValue("font-size", 26, 20);
		font-weight: 700;
		text-align: center;
	}
}
//</FORM>

// <BUTTONS>
// Снипет (HTML): btn
@import "_button";

// <INPUTS>
// Снипет (HTML): inp
@import "_input";

// <CHECK>
// Снипет (HTML): chk
@import "_checkbox";

// <RADIO>
// Снипет (HTML): opt
// @import "_radio";

// <SELECT>
// Снипет (HTML): sel
// @import "_select";

// <RATING>
// Снипет (HTML): rating
@import "_rating";

// <QUANTITY>
// Снипет (HTML): qa
// @import "_quantity";

// <RANGE>
// Снипет (HTML):
// @import "_range";
